############################
# Java / Maven
############################
**/target/
*.class
*.jar
*.war
*.ear
*.log

############################
# Frontend (Angular)
############################
**/node_modules/
**/dist/
**/.angular/

############################
# IDE / OS
############################
.DS_Store
.idea/
.vscode/
*.iml

############################
# Environment / Secrets
############################
.env