<app-header></app-header>
<br>

<div class="p-5">

    <h1 class="text-center">Update password</h1>

    <div class="form-group">

    <label>Old password</label>
    <input type="password" [(ngModel)]="changePasswordDto.oldPassword" class="form-control" required>
    <br>
    <label>New password</label>
    <input type="password" [(ngModel)]="changePasswordDto.newPassword" class="form-control" required>
    <br>
    <label>Repeat new password</label>
    <input type="password" [(ngModel)]="changePasswordDto.newPasswordCheck" class="form-control" required>
    <br>
    <button class="btn btn-primary" (click) = "updatePassword()" type="submit">Update password</button>


    </div>

</div>