<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm password change</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand">Home</a>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a href="/updateStudent" class="nav-link active" aria-current="page">Update student</a>
                        <a href="/registerExam" class="nav-link active" aria-current="page">Register exam</a>
                        <a href="/grades" class="nav-link active" aria-current="page">Grades</a>
                        <a href="/notifications" class="nav-link active" aria-current="page">Notifications</a>
                        <a href="/logout" class="nav-link active" aria-current="page">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <br>

    <div class="p-5">

        <h1 class="text-center">Congratulations! You have successfully changed the password!</h1>

    </div>

</body>
</html>