<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand">Home</a>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a href="/updateStudent" class="nav-link active" aria-current="page">Update student</a>
                        <a href="/registerExam" class="nav-link active" aria-current="page">Register exam</a>
                        <a href="/grades" class="nav-link active" aria-current="page">Grades</a>
                        <a href="/notifications" class="nav-link active" aria-current="page">Notifications</a>
                        <a href="/logout" class="nav-link active" aria-current="page">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="p-5">
        <h1 class="text-center">Change Password</h1>

        <form action="#" th:action="@{/updatePassword}" th:object="${changePasswordDto}" method="post">
            <div class="form-group">
                <label for="oldPassword">Old password</label>
                <input type="password" th:field="*{oldPassword}" class="form-control" id="oldPassword" required>
            </div>
            <br>
            <div class="form-group">
                <label for="newPassword">New password</label>
                <input type="password" th:field="*{newPassword}" class="form-control" id="newPassword" required>
            </div>
            <br>
            <div class="form-group">
                <label for="newPasswordCheck">Repeat new password</label>
                <input type="password" class="form-control" id="newPasswordCheck" required>
            </div>
            <br>
            <button id="submit_button" class="btn btn-primary" type="submit">Update password</button>
        </form>

        <br>

        <div th:if="${successMessage}">
            <p th:text="${successMessage}" style="color:#3a3af1"></p>
        </div>


        <div th:if="${error}">
            <p th:text="${error}" style="color:red"></p>
        </div>


    </div>

    <script>

        document.getElementById("submit_button").addEventListener('click', function(event) {

            const newPassword = document.getElementById("newPassword").value;
            const newPasswordCheck = document.getElementById("newPasswordCheck").value;

            if (newPassword !== newPasswordCheck) {
                alert('The new password fields don\'t match!');
                event.preventDefault();
            }
        });

    </script>




</body>
</html>