<app-header></app-header>

<br>


<h1 class="text-center">Your courses</h1>
<br>

<h3 class="text-center">Click on the course to open the grade management page for that course</h3>

<br>


<table class="table table-striped">
    
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Study program</th>
			<th scope="col">ECTS</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let course of courses" (click)="redirectToSingleCoursePage(course.id)">
			<td>{{course.id}}</td>
			<td>{{course.name}}</td>
			<td>{{course.studyProgram}}</td>
			<td>{{course.ects}}</td>
		</tr>
	</tbody>


</table>